*{
	margin:0;
	padding: 0;
}
body{
	font-family: 'Pacifico', cursive;


}
h2{
	text-align: center;
}
h1{
	color: white;
	font-weight: bold;
	font-family: 'Press Start 2P', cursive;

}


.navbar{
	padding-top: 60px;
	justify-content: space-around;
	
}


.header{
	background: url(../img/TASS_3657216.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0px 5px 8px -4px #000000;
	color: white;
	font-weight: bold;
	font-size: 24px;

}

.navbar-expand-lg{
	justify-content: space-between;
}



.navbar-collapse {
	justify-content: flex-end;
	font-size: 16px;
	font-family: 'Pacifico', cursive;

	text-transform: uppercase;
	font-weight: bold;
}

.nav-link{
	font-family: 'Pacifico', cursive;
	padding-left: 20px;

}



.preload{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 240px;
	padding-bottom: 350px;
	font-family: 'Press Start 2P', cursive;


}
.info{
	background-color:#f5f5f5;
	padding-top: 140px;
	padding-bottom: 120px;
	
}


.info__item{
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	margin-top: 80px;
	margin-bottom: 140px;
}

.info__text{
	width: 70%;
	text-align: center;
	margin-left: 5%;
	font-size: 24px;
}
.img1{
	width: 40%;
	height: 60%;
}
.services{
	margin-top: 140px;
	width: 100%;
}

.services__list{
	margin-top: 20px;
	padding-top: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	font-size: 18px;

	
}

.services__text{
	width: 300px;
}


.gallerey{
	margin-top: 140px;
	background-color: #f5f5f5;
	padding-top: 80px;
	padding-bottom: 80px;
}



@media screen and (max-width: 1170px ){
	.info__item{
		display: inline-block;
		text-align: center;
	}
	.info__text{
		margin-top: 20px;
		margin-left: 0;
		display: inline-flex;
		align-content: center;
		align-items: center;
	}

	.service{
		flex-direction: column;
	}
	.services__list{
	flex-direction: column;
	}
	.img1{
	width: 50%;
}
}

.contact{
	display: flex;
	padding-top: 140px;
	padding-bottom: 80px;
	font-size: 24px;
	text-align: center;

}


.footer{
	background-color: #ffa8e8;
	padding-top: 140px;
	padding-bottom: 40px;
}